.select-list {
    padding-top: 14px;
    width: 100%;
}

.select-list-items {
    cursor: pointer;
    padding: 15px;
}

.select-list-selected {
    color: #000000;
    background-color: #c0ecfa !important;
    text-underline: white;
}

.select-list-items div:nth-child(odd) {
    background-color: #24282d;
}

.select-list-items div:nth-child(even) {
    background-color: #191b1e;
}


.select-list-item {
    font-size: 16px;
    padding: 10px;
}

.select-list-search {
    max-width: 500px;
    padding-left: 4px;
}

.select-list-search-box {
    padding: 8px;
    width: 85%;
    margin: 10px;
    font-size: 16px;
    font-family: monospace;
}
