.item-Rare {
    color: #dfc34c;
    font-weight: bold;
}

.item-Magic {
    color: #848bff;
    font-weight: bold;
}

.mod-warning {
    color: #d89c8e;
}

.mod-before {
    color: #ac39a2;
}

.mod-after {
    color: #697865;
}

.mod-on {
    color: #5b6bb5;
}

.mod-extra-info {
    color: #8F8F9D;
}

.modgroup-header {
    padding-top: 15px;
    color: #8F8F9D;
}

.modgroup-regex-preview {
    color: #8F8F9D;
    padding-left: 10px;
}

.rare-mod-input {
    font-size: 14px;
    cursor: pointer;
}

.rare-mod-input input[type=number] {
    text-align: left;
    font-size: 16px;
    border-radius: 4px;
    margin: 4px;
    padding-left: 4px;
    background-color: #1b1e23;
    padding-right: 4px;
    color: #ffffff;
    width: 70px;
    border: 1px solid rgb(65, 78, 122);
}


.rare-mod-input input[type=checkbox] {
    background-color: #f3a575;
    width: 19px;
    height: 19px;
}

.mod-no-select-input {
    background-color: #21303e;
    padding: 4px;
    border-radius: 4px;
}

.mod-no-input {
}

.mod-checkbox-input {
    accent-color: #4d6873;
    height: 20px;
    width: 20px;
    margin: 3px 10px;
    padding-top: 20px;
}