body {
  background-color: #15202b;
  font-size: 20px;
  color: #d5d5d5;
}

.checkbox-input {
  accent-color: black;
  background-color: #e22434;
  height: 33px;
  width: 33px;
  margin: 3px 10px;
  padding-top: 20px;
}

input[type="checkbox"] {
  background-color: #e22434;
  border: 0px;
}

input {
  padding: 100px;
  margin: 10px;
}

.checkbox span {
  display: inline-block;
  margin-top: -20px;
  vertical-align: middle;
  white-space: nowrap;
}

.socket-size {
  height: 32px;
}

.wrapper {
  padding: 30px;
  width: 1200px;
  margin: auto;
}

.container {
  display: flex;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
  flex-direction: row;
  width: 100%;
  max-width: 1400px;
  flex-wrap: wrap;
}

.item {
  width: 380px;
}

.item-wide {
  width: 100%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.result-box {
  background-color: black;
  width: 100%;
  float: left;
  padding: 40px;
}
.result {
  padding-top: 10px;
  font-family: monospace;
  font-size: 28px;
  width: 70%;
  height: 30px;
  color: white;
  white-space:nowrap;
}

.calc-info {
  font-family: monospace;
  font-size: 14px;
}

.copy {
  height: 50px;
  float: right;
}
.copy-button {
  background-color: #2e8012;
  font-family: monospace;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.copied-good {
  color: #44c117;
}
.error {
  color: #e22434;
  padding-top: 10px;
  font-size: 18px;
}

.size-info {
  padding-top: 10px;
  font-size: 18px;
  color: #a8a8a8;
}

.small-padding {
  padding-top: 10px;
}

.column-header {
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}
.link-text {
  padding-left: 10px;
  font-size: 14px;
  font-family: monospace;
}
.info-header {
  font-size: 36px;
  color: white;
}
