.coffee-banner {
    text-align: center;
    font-size: 16px;
    color: #232323;
    padding: 20px;
    background-color: #ef9d8c;
}

.coffee-banner-text-big {
    font-size: 20px;
}

.coffee-text {
    margin: 4px;
}

.coffee-banner-text {
    margin: auto;
}

.close-banner {
    padding-left: 40px;
    color: #444444;
    cursor: pointer;
    font-weight: bold;
}

.close-banner:hover {
    color: #7ea4c6;
}

.banner-link {
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
}