.page-link-header {
    white-space: nowrap;
    flex-grow: 10;
    padding: 6px 20px 8px 8px;
    font-size: 24px;
}
.page-link {
    flex-grow: 0;
    padding-left: 7px;
    padding-bottom: 8px;
    padding-top: 2px;
    font-size: 18px;
    white-space: nowrap;
    margin-bottom: 5px;
}
.page-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.page-link-icon {
    position: relative;
    top: 11px;
    margin-top: -7px;
    padding-right: 5px;
    height: 32px;
    width: 32px;
}
a {
    color: #d5d5d5;
    text-decoration: none;
}
a:hover {
    color: #bfebf8;
    text-decoration: underline;
}
.page-link-current {
    background-color: rgba(110, 110, 110, 0.3);
}

.page-link-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

@media(max-width: calc(230px + 1250px + 6px)) {
    .page-links {
        flex-direction: row;
    }
    .page-link {
        padding-right: 20px;
    }
    .page-link-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

